html {
  font-size: 50%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial";
  font-size: 20px;
  font-weight: 300;
  color: black;
  background-color: aliceblue;
  display: block;
  overflow: hidden;
}
